SECRET_KEY=django-insecure-change-me
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1,web

DB_ENGINE=django.db.backends.postgresql
DB_NAME=cashflow
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
