{% load static %}

<div class="container">
  <header class="pt-3 pb-2 mb-3 bg-white border-bottom">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'main_page' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img class="mb-2 me-3" src="{% static 'CashFlow/img/logo.png' %}" width="45" height="45" alt="">
        </a>
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'main_page' %}" class="nav-link px-2 text-dark">Главная</a></li>
          <li><a href="{% url 'managing_directories' %}" class="nav-link px-2 text-dark">Управление справочниками</a></li>
        </ul>
        
        {% if not request.user.is_authenticated %}
        <div class="text-end">
          <a href="{% url 'login' %}" type="button" class="btn btn-outline-warning">Войти</a>
          <a href="{% url 'registration' %}" type="button" class="btn btn-warning">Регистрация</a>
        </div>
        {% else %}
        <div class="text-end">
          <a href="{% url 'logout' %}" type="button" class="btn btn-outline-warning">Выйти</a>
        </div>
        {% endif %}
      </div>
  </header>
</div>